<html>
  <head>
    <title>Chat page</title>
    <style>
      input { display: block; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    Let's chat!
    <ul id="messages"></ul>
    <form action="" id="chatbox">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <input type="submit" value="Submit">
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(function() {
        var socket = null;
        var msgBox = $("#chatbox textarea");
        var messages = $("#messages");

        $("#chatbox").submit(function() {
          if(!msgBox.val()) return false;
          if(!socket) {
            alert('websocket errro');
            return false;
          }
          socket.send(msgBox.val())
          msgBox.val("")
          return false;
        });

        if(!window["WebSocket"]) {
          alert("error: Browser no supported websocket")
        } else {
          socket = new WebSocket("ws://{{ .Host }}/room");
          socket.onclose = function() {
            // 都度alertを閉じるの面倒なのでコメントアウト
            // alert('close')
          }
          socket.onmessage = function(e) {
            messages.append($("<li>").text(e.data));
          }
        }
      });
    </script>
  </body>
</html>
