<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Let's Sign in</h1>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">You need to signin to use this web service.</h3>
        </div>
        <div class="panel-body">
          <p>Choose service</p>
          <ul>
            <li>
              <a href="/auth/login/facebook">Facebook</a>
            </li>
            <li>
              <a href="/auth/login/github">GitHub</a>
            </li>
            <li>
              <a href="/auth/login/google">Google</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
